<html>
    <body>

        <form method="post" action="/">

            <h4>Negocio</h4>
            <select name="negocio">
                <option>Topo</option>
                <option>Perro</option>
            </select> 
            <br>
            <!--<h4>Numero</h4>
            <input type="text" id="negocio" name="negocio"><br><br>-->
            <h4>Pedido</h4>
            <input type="text" id="solicitud" name="solicitud"><br><br>
            <input type="submit" value="enviar" name="enviar"/>
            </div>
        </form>
    </body>
</html>